*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
.kotlin/
local.properties
keystore.properties
*.keystore
*.jks
!app/debug.keystore
!gradle/wrapper/gradle-wrapper.jar
/docs
gradle/gradle-daemon-jvm.properties
/legado-with-MD3
