<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application>
        <activity
            android:name=".ui.activities.storage_plus.StoragePlusActivity"
            android:theme="@style/DialogActivityTheme"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.storage_file.StorageFileActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activities.download.DownloadActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>